<h1>Hello!</h1>

<p>This mail should contains an <strong>attached file</strong>, named 'Greetings.txt'.</p>
<p>This message also contains an inline attached file, that is displayed below :</p>

<%= image_tag attachments['cat@'].url %>

<p>It is cute, right?</p>

<p>Have a nice day, email sender!</p>