<h1>Hello, <%= @username %> !</h1>

<p>
Congratulations, <br/>
You just send a mail with many recipients.
</p>

<p>There is also a text version of the mail for mailboxes that don't support html.</p>

<p>Bye!</p>
